.comments_section {
  background: #fffae550;
  padding: 0.5em 1em;
  margin: 1.5em 0em;
  margin-top: 1em;
  padding-top: 1em;
  /* border-bottom-left-radius: 12px; */
  /* border-bottom-right-radius: 12px; */
  border-radius: 5px;
  width: 100%;
}

.comments {
  margin-bottom: 8px;
  margin-top: 1rem;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

.newcommenttext {
  color: rgb(114, 117, 109);
  font-weight: 700;
}
.commenttext {
  color: rgb(220, 220, 190);
  font-weight: 700;
}

.comment_form {
  margin: 1em 0 0 0;
}

.comment_form_text {
  width: 100%;
  margin-bottom: 4px;
}

.comments_date {
  color: #1f1d1d;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.post_button {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 0.5rem;
  background: rgb(99, 50, 28);
  color: #fffae5;
  font-size: 16px;
}
